<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>             

    <bean id="GetDistrettoByCodice"
    	class="it.ras.arco.service.DistrettoManagerSRV" singleton="false">
    	<property name="moduleManager">
    		<ref bean="RasModuleManager" />
    	</property>
    	<property name="action">
    		<value>GET_DISTRETTO_BY_CODICE</value>
    	</property>
    </bean>

    <bean id="InsertDistretto"
    	class="it.ras.arco.service.DistrettoManagerSRV" singleton="false">
    	<property name="moduleManager">
    		<ref bean="RasModuleManager" />
    	</property>
    	<property name="action">
    		<value>INSERT</value>
    	</property>
    </bean>

    <bean id="UpdateDistretto"
    	class="it.ras.arco.service.DistrettoManagerSRV" singleton="false">
    	<property name="moduleManager">
    		<ref bean="RasModuleManager" />
    	</property>
    	<property name="action">
    		<value>UPDATE</value>
    	</property>
    </bean>

    <!-- INSERIMENTO BEAN PER IL MODULO GENERICO DI ACCESSO AL DB -->

    <bean id="GetDistrettoByCodiceMD"
    	class="it.ras.flag.module.DefaultDbModule">
    	<property name="dao">
    		<ref bean="RasBatchDao" />
    	</property>
    	<property name="query">
    		<value>0</value>
    	</property>
    	<property name="queryName">
    		<value>GetDistrettoByCodice</value>
    	</property>
    	<property name="parameters">
    		<list>
    			<value>CODICE_DISTRETTO</value>
    		</list>
    	</property>
    	<property name="output">
    		<value>DISTRETTO</value>
    	</property>
    </bean>
    
    
     <bean id="InsertDistrettoMD" class="it.ras.flag.module.DefaultDbModule">
		<property name="dao">
			<ref bean="RasBatchDao" />
		</property>
		<property name="query">
			<value>5</value>
		</property>
		<property name="parameters">
			<list>
				<value>DISTRETTO</value>
			</list>
		</property>
		<property name="output">
			<value>DISTRETTO</value>			
		</property>
	</bean>
    
     <bean id="UpdateDistrettoMD" class="it.ras.flag.module.DefaultDbModule">
		<property name="dao">
			<ref bean="RasBatchDao" />
		</property>
		<property name="query">
			<value>9</value>
		</property>
		<property name="parameters">
			<list>
				<value>DISTRETTO</value>
			</list>
		</property>
		<property name="output">
			<value>DISTRETTO</value>
		</property>
	</bean>

</beans> 


