<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>             
    
    <!-- INSERIMENTO BEAN PER SERVIZIO GENERICO SOGGETTOMANAGER -->
    
    <bean id="GetGpramSquadra"
    	class="it.ras.arco.batch.service.GpramSquadraManagerSRV" singleton="false">
    	<property name="moduleManager">
    		<ref local="RasModuleManager" />
    	</property>
    	<property name="action">
    		<value>GET</value>
    	</property>
    </bean>
   
    <bean id="InsGpramSquadra"
    	class="it.ras.arco.batch.service.GpramSquadraManagerSRV" singleton="false">
    	<property name="moduleManager">
    		<ref local="RasModuleManager" />
    	</property>
    	<property name="action">
    		<value>INSERT</value>
    	</property>
    </bean>
    
     <bean id="UpdGpramSquadra"
    	class="it.ras.arco.batch.service.GpramSquadraManagerSRV" singleton="false">
    	<property name="moduleManager">
    		<ref local="RasModuleManager" />
    	</property>
    	<property name="action">
    		<value>UPDATE</value>
    	</property>
    </bean>
    
  <!--   <bean id="CheckGetSquadraMD"    class="it.ras.arco.batch.module.CheckGetSquadraMD"   	   singleton="false" /> 
	--> 
	<bean id="CheckGetSquadraMD"    
    class="ras.arch.module.DefaultDbModule" >
    <property name="dao">
    		<ref bean="RasBatchDao" />
    	</property>
    	<property name="query">
    		<value>0</value>
    	</property>
    	<property name="queryName">
    		<value>GetSquadra</value>
    	</property>
    	<property name="parameters">
    		<list>
    			<value>CONTRATTO</value>
    			
    		</list>
    	</property>
    	<property name="output">
    		<value>SQUADRAROW</value>
    	</property>
    </bean>
   
   <bean id="InsFlxSquadraMD"    
	class="ras.arch.module.DefaultDbModule"  >
	 <property name="dao">
      <ref bean="RasBatchDao" />
     </property>
     <property name="query">
      <value>5</value>
     </property>
     <property name="parameters">
      <list>
       <value>SQUADRAOBJ</value>
      </list>
     </property>
     
     </bean>   
	
	 <bean id="UpdFlxSquadraMD"    
	class="ras.arch.module.DefaultDbModule"  >
	 <property name="dao">
      <ref bean="RasBatchDao" />
     </property>
     <property name="query">
      <value>9</value>
     </property>
     <property name="parameters">
      <list>
       <value>SQUADRAOBJ</value>
      </list>
     </property>
     
     </bean>   
	
   <!--  <bean id="InsUpdFlxSquadraMD"    class="it.ras.arco.batch.module.InsUpdFlxSquadraMD"   	   singleton="false" /> 
    --> 
    <!-- FINE INSERIMENTO SERVIZIO GENERICO GET_SOGGETTO -->
    
    
	
	<bean id="RasModuleManager"      class="ras.arch.batch.skeleton.RasBatchModuleManager" singleton="true">
    	<property name="batchManager">
    		<ref local="RasThreadBatchManager" />
    	</property>
    </bean>
    
    <bean id="RasThreadBatchManager" class="ras.arch.batch.skeleton.RasThreadBatchManager" singleton="true"> 
    	<property name="batchOk">
			<value>0</value>
		</property>
		<property name="batchWarning">
			<value>1</value>
		</property>
		<property name="batchKo">
			<value>2</value>
		</property>
	</bean>


</beans> 


