<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>             
    
    <!-- INSERIMENTO BEAN  -->
    
    <bean id="InsertPortafoglioGPSRV"
    	class="it.ras.arco.service.InsertPortafoglioGPSRV" singleton="false">
    	<property name="moduleManager">
    		<ref bean="RasModuleManager" />
    	</property>
    	<property name="action">
    		<value>ACTION_INSERT_PORTAFOGLIO_GP</value>
    	</property>
    </bean>
     
	<bean id="InserimentoPortafoglio" class="it.ras.flag.module.DefaultDbModule">
		<property name="dao">
			<ref bean="RasBatchDao" />
		</property>
		<property name="query">
			<value>5</value>
		</property>
		
		<property name="parameters">
			<list>
				<value>PORTAFOGLIO_GP</value>
			</list>
		</property>
		<property name="output">
			<value>PORTAFOGLIO_GP</value>
		</property>
	</bean>
   

</beans> 

	
