<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>             
	<bean id="sessionFactory"
		class="it.ras.flag.batch.skeleton.BatchSessionFactory">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingResources">
			<value>
			
			      /it/ras/arco/hbm/SNP_ESTRAZIONI.hbm.xml,
			      /it/ras/arco/hbm/ARCO_FIN_SOGG_BOZZA.hbm.xml,
			      /it/ras/arco/hbm/ARCO_FIN_CREDENZIALI_MO.hbm.xml,
			      /it/ras/arco/hbm/ARCO_FIN_PRATICA_BOZZA.hbm.xml,
			       /it/ras/arco/hbm/ARCO_FIN_CODIFICA_CONVENZIONE.hbm.xml,
			       /it/ras/arco/hbm/ARCO_FIN_PRATICA.hbm.xml,
		
			
				 
				 /it/ras/arco/hbm/ARCO_FIN_SEGNAL_CC_DT_TITOLI.hbm.xml,
				 /it/ras/arco/hbm/ARCO_FIN_BONIFICO.hbm.xml, 
				 /it/ras/arco/hbm/ARCO_FIN_ORDINE_TITOLO.hbm.xml,
				 /it/ras/arco/hbm/ARCO_FIN_ORDINE_TITOLI_ESEGUITI.hbm.xml,
				 /it/ras/arco/hbm/ARCO_FIN_ULT_INFO_SOGG.hbm.xml,
				 
			
			    /it/ras/arco/batch/hbm/ARCO_FLX_RAM_ANAGRAFICA_CLIENTI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_ANAG_AZIONI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_ANAG_FONDI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_ANAG_OBBLIGAZIONI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_ANAG_CAMBI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_BENCHMARK_FONDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_CEDOLE_OBBLIGAZIONI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_COMMISSIONI_FONDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_DIVIDENDI_AZIONI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_DIVIDENDI_FONDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_INDICI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_PORTAFOGLIO_FONDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_PREZZI_FONDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_PREZZI_GENERALE.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_PREZZI_OBBLIGAZIONI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_RATING_OBBLIGAZIONI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_RENDIMENTO_FONDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MAF_LOOK_UP_TABLE.hbm.xml,

  				/it/ras/arco/batch/hbm/ARCO_FLX_BPU_MO1.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_FND_RAM_COSOTT.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_INDCOICR.hbm.xml,			     		
   		        /it/ras/arco/batch/hbm/ARCO_FLX_SERV_ATT_ANIMA.hbm.xml, 
                /it/ras/arco/batch/hbm/ARCO_FLX_SOGG_FASCIA.hbm.xml,
			    /it/ras/arco/batch/hbm/ARCO_FLX_SERV_AGG_ANIMA.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SY_MIG_CONTRATTI.hbm.xml,
			    /it/ras/arco/batch/hbm/ARCO_FLX_BNL_GESTIONI_PORTAFOGLIOGP.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_CONTRATTO_01.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_PARTECIPANTI_03.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_PAC_02.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_RAPP_COLL_05.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_VAR_CONTR_01.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_VAR_PAC_02.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_VAR_RAP_COL_05.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_DECOD_SOGGETTO_SEC.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_MANDNMAN.hbm.xml,				
				/it/ras/arco/batch/hbm/ARCO_FLX_GPRAM_ANAGRAFICA_CLIENTE.hbm.xml,		
				/it/ras/arco/batch/hbm/ARCO_FLX_BGPRO_INCASSI_ASS.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_GPRAM_ANAGRAFICA_GP.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_GPRAM_ELENCO_PROD.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_GPRAM_MOVIMENTI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_GPRAM_SALDI_UFF_STO.hbm.xml,					
				/it/ras/arco/batch/hbm/ARCO_FLX_GPRAM_SALDI_MENSILI.hbm.xml,					
    			/it/ras/arco/batch/hbm/ARCO_FLX_MUTUI_DB.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SALDI_FONDI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_GP_MOVIMENTI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_PROIEZIONE_POLIZZA.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_RASBANKGP_ANAG_CLI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_RASBANKGP_ANAGRAFICA_CON.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_RASBANKGP_ELENCO_PROD.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_RASBANKGP_MOVIMENTI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_RASBANKGP_SALDI_FONDI.hbm.xml,	
			   /it/ras/arco/batch/hbm/ARCO_FLX_RBVITA_MOVIMENTI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_ANAG_DT.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_LEG_COINT.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_SY_ANAGRAFICA_CLIENTE.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_MOVIMENTI_DT.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_PROFILO_RISCHIO.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_POSIZIONE_DT.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_QUOTAZIONI.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_ANIMA_RIE_QUO.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_RBVITA_PORT_CLI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_RBVITA_PORTPOL.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_RBVITA_QUOTAZIONE.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_OBBLIGAZIONI_MOV.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_CONVENZIONE.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_GP_ELENCO_PROD.hbm.xml,
			    /it/ras/arco/batch/hbm/ARCO_FLX_GP_ANAGRAFICA_CON_GP.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_SALDO_CON.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_EASY_PLAN.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SY_MIG_INDIRIZZI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_TRASFER_PROG.hbm.xml,
				/it/ras/arco/batch/hbm/FLX_GPRAM_SQUADRA.hbm.xml,	
				/it/ras/arco/batch/hbm/FLX_RASBANKGP_SQUADRA.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SOGGETTO_XP.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INDIRIZZO_XP.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_ANAGRAFICA_CC.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_ANAGRAFICA_CLIENTI.hbm.xml,						
				/it/ras/arco/batch/hbm/ARCO_FLX_ARCHIVIO_POL_RAM.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_ARCHIVIO_PRE_RAM.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_ARCHIVIO_RID_RAM.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_ARCHIVIO_CERT_RAM.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ARCHIVIO_STAC_CED_BON.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_ARCHIVIO_STAC_CEDOLA.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_ARCHIVIO_TOT_RAM.hbm.xml,	
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_ASSEGNI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_MOVIMENTI_CC.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_RUOLO.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_QUAD_ANIMA_SALDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNL_GES_CERTIFICATI_04.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_QUADRATURA_SY_MIG.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANIMA_SDR.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_BNLGESTIONI_MOVIMENTI06.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_PCT.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_RUOLO_CONTR_SOGG.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_SALDI_MEDI_MENSILI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_SEC_SALDI_MEDI_ANNUALI.hbm.xml,
			    /it/ras/arco/batch/hbm/ARCO_FLX_ANT_AGENZIE_PF.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_ANAGRAFICA_AGENZIE.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_ANAGRAFICA_DISTRETTI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_ANAGRAFICA_PF_ANT.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_CRM1.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_CRM2.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_CRM3.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_CRM4.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_DISTRETTI_PF.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_RIASSEGNAZIONI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_ANT_STRUTTURA_PROMOTORI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INVESTITORI_ANAG_CLIENTE.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INVESTITORI_COINTESTAZIONE.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INVESTITORI_CONTRATTO.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INVESTITORI_SALDI.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INVESTITORI_SALDI_MEN.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INVESTITORI_SALDI_UFF.hbm.xml,
				/it/ras/arco/batch/hbm/ARCO_FLX_INVESTITORI_MOVIMENTI.hbm.xml,
<!--
				/it/ras/arco/batch/hbm/ARCO_QUAD_POSIZIONI_UL.hbm.xml,			
-->
				/it/ras/arco/hbm/ARCO_QRY_DEDUPLICATOR_BATCH.hbm.xml,
				/it/ras/arco/hbm/ARCO_DEC_REGOLE_INBOUND_MOVIMENTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_AGENZIA.hbm.xml,
    			/it/ras/arco/hbm/ARCO_FIN_ALTRI_PRODOTTI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_ASSEGNO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_ANAGRAFICA_BANCA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_ATT_FIN.hbm.xml,	
				/it/ras/arco/hbm/ARCO_FIN_ATT_FIN_DETTAGLIO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CAMBI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CEDOLE_DIVIDENDI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_COMMISSIONI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CRM1.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CRM2.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CRM3.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CRM4.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_BENCHMARK.hbm.xml,				
				/it/ras/arco/hbm/ARCO_FIN_PREZZO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_ULT_PREZZO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CERTIFICATO.hbm.xml,				
				/it/ras/arco/hbm/ARCO_FIN_COINTESTAZIONE.hbm.xml, 
				/it/ras/arco/hbm/ARCO_FIN_CONTRATTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CONTRATTO_INDIR.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CONTRATTO_PROMOTORE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CONTRATTO_DECOD.hbm.xml,				
				/it/ras/arco/hbm/ARCO_FIN_CONTR_BLOCCHI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_CONVENZIONE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DECOD_NDG_FABBR.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DETTAGLIO_PCT.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DECOD_SOGGETTO_XP.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DECOD_SOGGETTO_SEC.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DISP_PAGAMENTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DISP_PAG_MOV.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DISTRETTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DOCUMENTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_EMITTENTE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_EVIDENZA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_ENTITA_PARAMETRO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_INDICI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_INDIRIZZO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_INTERFACCIA.hbm.xml,				
				/it/ras/arco/hbm/ARCO_FIN_MOVIMENTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_MOVIMENTO_INBOUND.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_NAZIONI_UIC.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_ORDINE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_GP_STORICO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PARAMETRO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_POSIZIONE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_DISTINTA_ASSEGNI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PORTAFOGLIO_FONDI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PREMIO_POLIZZA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PRODOTTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PRODOTTO_LINEA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PROIEZIONE_POLIZZA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PROMOTORE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PROMOTORE_AGENZIA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PROMOTORE_COORDINATA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PROMOTORE_DISTRETTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PROMOTORE_STRUTTURA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_QUOTAZIONE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_RATING.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_RECAPITO.hbm.xml,	
				/it/ras/arco/hbm/ARCO_FIN_RENDIMENTI.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_RUOLO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SALDO_PERIODICO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SERVIZIO_AGGIUNTIVO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOGGETTO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOGGETTO_INDIR.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOGG_SCHEDA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOGG_PRIVACY.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOTTOSCRIZIONE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOTTOSCR_EMITTENTE.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOTTOSCR_SERV_AGG.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOTTOSCR_CONT.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SOGG_FASCIA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_STORICO_SALDO.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_PORTAFOGLIO_GP.hbm.xml,

				/it/ras/arco/hbm/ARCO_FIN_SOGG_SCHEDA_INDIR.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_SEGNALAZIONI_CC_DT.hbm.xml,
				/it/ras/arco/hbm/ARCO_FLX_BPU_CO0.hbm.xml,
				/it/ras/arco/hbm/ARCO_FLX_BPU_RFS.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_ANAG_POLIZZA.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_VALUTE_UIC.hbm.xml,
				/it/ras/arco/hbm/ARCO_FIN_VALORI_CAMBI.hbm.xml,
				/it/ras/arco/hbm/ARCO_QUAD_SEC_POSIZIONE_DT.hbm.xml,
			    /it/ras/arco/hbm/ARCO_NORM_SOGGETTO_MC.hbm.xml,
			    /it/ras/arco/hbm/ARCO_FIN_LEGAME_INDIR.hbm.xml,
			    /it/ras/arco/hbm/ARCO_FIN_ACCORPAMENTO.hbm.xml,
			    /it/ras/arco/hbm/ARCO_FIN_AGGREGAZIONE.hbm.xml,
			    /it/ras/flag/resources/ras-arch-logging-mapping.hbm.xml,
				/it/ras/flag/resources/ras-arch-mappings.hbm.xml
			</value>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">false</prop>
				<prop key="hibernate.cache.use_minimal_puts">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.jdbc.use_scrollable_resultset">true</prop>
			</props>
		</property>
	</bean>
</beans>


