<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- PostgreSQL 17 DataSource Configuration -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        
        <!-- Connection pool configuration -->
        <property name="initialSize" value="5"/>
        <property name="maxTotal" value="20"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="5"/>
        <property name="maxWaitMillis" value="10000"/>
        
        <!-- Connection validation -->
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="validationQueryTimeout" value="3"/>
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <property name="minEvictableIdleTimeMillis" value="60000"/>
        
        <!-- Connection leak detection -->
        <property name="removeAbandonedOnBorrow" value="true"/>
        <property name="removeAbandonedTimeout" value="300"/>
        <property name="logAbandoned" value="true"/>
        
        <!-- PostgreSQL specific properties -->
        <property name="defaultAutoCommit" value="false"/>
        <property name="defaultTransactionIsolation" value="2"/>
    </bean>
    
    <!-- Property placeholder configurer for database properties -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode" value="2"/>
    </bean>
    
    <!-- Hibernate SessionFactory for PostgreSQL 17 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        
        <!-- Hibernate configuration properties -->
        <property name="hibernateProperties">
            <props>
                <!-- PostgreSQL 17 dialect -->
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                
                <!-- Schema settings -->
                <prop key="hibernate.default_schema">investitori</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                
                <!-- SQL logging -->
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.use_sql_comments">true</prop>
                
                <!-- Transaction settings -->
                <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
                <prop key="hibernate.transaction.coordinator_class">jdbc</prop>
                
                <!-- JDBC batch settings -->
                <prop key="hibernate.jdbc.batch_size">50</prop>
                <prop key="hibernate.jdbc.fetch_size">100</prop>
                <prop key="hibernate.order_inserts">true</prop>
                <prop key="hibernate.order_updates">true</prop>
                <prop key="hibernate.jdbc.batch_versioned_data">true</prop>
                
                <!-- Cache settings -->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</prop>
                
                <!-- PostgreSQL specific settings -->
                <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
                <prop key="hibernate.jdbc.lob.non_contextual_creation">true</prop>
                
                <!-- Statistics -->
                <prop key="hibernate.generate_statistics">false</prop>
            </props>
        </property>
        
        <!-- Package scanning for entity classes -->
        <property name="packagesToScan">
            <list>
                <value>it.ras.arco.bean</value>
                <value>it.ras.arco.batch.bean</value>
                <value>it.ras.flag.batch.logging</value>
            </list>
        </property>
    </bean>
    
    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <!-- Hibernate Template (optional, for easier Hibernate operations) -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="checkWriteOperations" value="false"/>
    </bean>
    
</beans>
